.input {
  background: #ffffff;
  border-radius: 4px;
  padding: 18px 20px;
  border: 1px solid rgba(49, 48, 55, 0.1);
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  resize: vertical;
}
.input:focus,
.input:hover {
  border-color: #6C1BDB;
}
.input:active{
  border-color: rgba(49, 48, 55, 0.1)
}
.input:disabled {
  background: rgba(49, 48, 55, 0.1);
  color: rgba(49, 48, 55, 0.3);
  border-color:transparent;
}
.error {
  border-color: #fd3419;
}