.user {
    width: 100%;
    height: 84px;
    background-color: rgba(49, 48, 55, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
  }
  .user p {
    font-size: 16px;
    font-weight: 600;
    margin: auto;
  }
  
  .userInitials {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    height: 48px;
    background: linear-gradient(133.87deg, #4D0AC7 -10.18%, #912EF2 108.59%);
    margin-right: 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
  }