.navbarMenu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 72px;
  background: #ffffff;
}
.nav {
  width: 100%;
  position: relative;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}
.userSearchWrapper {
  display: flex;
}
.inputNavbar {
  background: #ba8ff1;
  color: #ffffff;
}
.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  height: 94px;
  background: rgba(49, 48, 55, 0.1);
}
.inputContainer input {
  border: none;
  background: transparent;
  width: 91%;
}
.darkContainer .inputContainer input {
  background: rgba(255, 255, 255, 0.1);
}
.darkContainer .inputContainer input:hover {
  border: 1px solid rgba(108, 27, 219, 1);
}
.inputContainer .cancelIcon {
  cursor: pointer;
  width: 9%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputContainer .cancelIcon:hover {
  background: #ba8ff1;
}
.inputContainer .cancelIcon svg > path {
  fill: rgba(49, 48, 55, 1);
}
.inputContainer .cancelIcon:hover svg > path {
  fill: #ffffff;
}
/* Icons */
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 94px;
  border-right: 1px solid rgba(243, 243, 243, 1);
  cursor: pointer;
}
.searchIcon svg > path {
  stroke: #473552;
}
.searchIcon:hover {
  background: #ba8ff1;
}
.searchIcon:hover svg > path {
  stroke: #ffffff;
}

.userIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 24px 32px;
  width: 232px;
  height: 94px;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
}
.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background: linear-gradient(133.87deg, #4d0ac7 -10.18%, #912ef2 108.59%);
}
.userIconWrapper:hover {
  cursor: pointer;
  background-color: #ba8ff1;
}

.userIconWrapper:hover svg > path {
  stroke: #ffffff;
}

.logo {
  padding: 0px 30px;
  text-align: center;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  cursor: pointer;
}
.logo:hover{
  background-color: #ba8ff1;
}
.darkContainer {
  background: rgba(255, 255, 255, 0.1);
}
.darkContainer .searchIcon {
  border-right: rgba(49, 48, 55, 1);
}
.darkContainer svg > path {
  stroke: #ffffff;
}
.darkContainer input {
  color: white;
}
.darkContainer .logo:hover {
  background-color: #ba8ff1;
}
.darkContainer .inputContainer .cancelIcon svg > path {
  fill: #ffffff;
}
