.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 85px;
  }
  .imgWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 900px;
    height: 550px;
    margin-right: 32px;
    margin-bottom: 80px;
  }
  .imgWrapper img {
    width: 100%;
    height: 100%;
  }
  .textWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .textWrapper div {
    font-weight: 300;
    font-size: 25px;
  }
  .textWrapper :first-child {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 40px;
  }
  .darkContainer {
    color: white;
  }
  